.marks{
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  outline: none;
}
.outof{
    margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  outline: none;
}

ion-card{
    background-color: bisque;
}

